<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>

  <body>
    <h1>Facial Recognition System</h1>
    <div class="container">
      <div class="card">
        <h3>Upload a File</h3>
        <div class="drop_box">
          <form
            action="/submit"
            method="post"
            enctype="multipart/form-data"
            class="form"
          >
            <input type="file" name="imagefile" id="fileToUpload" />
            <input type="text" name="id" />
            <button type="submit" class="btn">Upload File</button>
          </form>

          {% if prediction %}
          <div class="output">
            <p>The person is {{prediction}}</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
